@import url("https://fonts.googleapis.com/css2?family=Exo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
}

.container {
  max-width: 1236px;
  margin: 0 auto;
  padding: 0 10px;
  height: 100%;
}

.btn {
  padding: 10px 45px;
  background: #FF690D;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  font-family: 'Exo', sans-serif;
}

.title {
  ont-style: normal;
  font-weight: bold;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  position: relative;
  margin-bottom: 44px;
}

.title::before {
  content: '';
  width: 40px;
  height: 4px;
  background-color: #FF690D;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-top: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box__title {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  position: relative;
}

.box__title::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: #C9C9C9;
  bottom: -20px;
  left: 0;
}

.header {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-bottom: 50px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 34px 0;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header__item {
  margin: 0 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Exo', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: black;
}

.map {
  margin-bottom: 80px;
}

.map__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.map__inner h2 {
  font-size: 36px;
  line-height: 49px;
}

.map__contacts {
  max-width: 330px;
}

.map__contacts p {
  font-family: 'Exo', sans-serif;
  margin-bottom: 10px;
  font-family: Exo;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.map__contacts img + img {
  margin-left: 20px;
}

.map__adress {
  font-family: Exo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #707070;
}

.map__image {
  border: 10px solid black;
}

.form {
  background-image: url(../../images/main-images/form/Black.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #FFFFFF;
  padding: 85px 0 95px;
}

.form__title {
  margin-bottom: 40px;
}

.form__title::before {
  background: white;
}

.form__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 450px;
}

.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.form__input {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  padding: 4px 0;
  margin-right: 20px;
  color: white;
}

.form__input:focus {
  background: transparent;
}

.form__input::-webkit-input-placeholder {
  color: white;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
}

.form__input:-ms-input-placeholder {
  color: white;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
}

.form__input::-ms-input-placeholder {
  color: white;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
}

.form__input::placeholder {
  color: white;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
}

.form__btn {
  margin-right: 20px;
  background: transparent;
  border: 2px solid white;
  padding: 13px 28px;
  width: 90%;
}

.footer {
  color: white;
}

.footer__top {
  background: black;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
}

.footer__bottom {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #3A3A3A;
}

.burger {
  color: black;
  font-size: 50px;
  display: none;
}

@media (max-width: 1151px) {
  .header__item, .header__btn {
    font-size: 13px;
  }
}

@media (max-width: 1024px) {
  .map__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .map__inner img {
    margin-bottom: 50px;
  }
  .map__contacts {
    display: block;
  }
  .map__contacts .title {
    text-align: center;
  }
  .map__contacts .title::before {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
  }
}

@media (max-width: 987px) {
  .burger {
    display: block;
    z-index: 20;
  }
  .burger.active {
    color: white;
  }
  .header__inner img {
    width: 30%;
  }
  .header__btn {
    display: none;
  }
  .header__item {
    font-size: 22px;
  }
  .header__list {
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: grey;
    padding-top: 60px;
    padding-bottom: 30px;
    width: 100%;
    text-align: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .header__list li {
    padding: 10px 0;
  }
  .header__list.active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .header__item {
    color: white;
  }
  .header__inner img {
    z-index: 20;
  }
}

@media (max-width: 768px) {
  .products__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .products__top div {
    display: none;
  }
}

@media (max-width: 673px) {
  .header__inner {
    padding: 10px 0;
  }
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__btn {
    display: none;
  }
  .cooperation__title {
    font-size: 25px;
  }
  .cooperation__text {
    font-size: 15px;
  }
  .footer {
    font-size: 8px;
  }
}

@media (max-width: 529px) {
  .header__title {
    font-size: 36px;
    line-height: 50px;
  }
  .form__inner {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .header__title {
    font-size: 24px;
  }
  .title {
    font-size: 19px;
  }
}
/*# sourceMappingURL=contacts.css.map */