@import url("https://fonts.googleapis.com/css2?family=Exo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
}

.container {
  max-width: 1236px;
  margin: 0 auto;
  padding: 0 10px;
  height: 100%;
}

.btn {
  padding: 10px 45px;
  background: #FF690D;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  font-family: 'Exo', sans-serif;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  position: relative;
  margin-bottom: 44px;
}

.title::before {
  content: '';
  width: 40px;
  height: 4px;
  background-color: #FF690D;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box__title {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  position: relative;
}

.box__title::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: #C9C9C9;
  bottom: -20px;
  left: 0;
}

.header {
  margin-bottom: 50px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 34px 0;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header__item {
  margin: 0 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Exo', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: black;
}

.header__preview {
  background-image: url(../../images/index-images/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 277px;
}

.header__title {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 55px;
  color: #fff;
  margin-bottom: 20px;
}

.header__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  font-family: 'Exo', sans-serif;
}

.pallety__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.pallety__inner:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.pallety__img {
  max-width: 100%;
}

.pallety__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pallety__content {
  max-width: 570px;
}

.pallety__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  font-family: 'Exo', sans-serif;
}

.pallety__btn {
  margin-top: 40px;
}

.footer {
  color: white;
}

.footer__top {
  background: black;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
}

.footer__bottom {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #3A3A3A;
}

.burger {
  color: black;
  font-size: 50px;
  display: none;
}

@media (max-width: 1151px) {
  .header__item, .header__btn {
    font-size: 13px;
  }
  .lists {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer {
    font-size: 13px;
  }
}

@media (max-width: 1024px) {
  .pallety .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .pallety__img {
    margin-bottom: 20px;
  }
  .title::before {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 997px) {
  .header {
    font-size: 10px;
  }
}

@media (max-width: 987px) {
  .burger {
    display: block;
    z-index: 20;
  }
  .burger.active {
    color: white;
  }
  .header__inner {
    padding: 10px 0;
  }
  .header__inner img {
    width: 30%;
  }
  .header__btn {
    display: none;
  }
  .header__item {
    font-size: 22px;
  }
  .header__list {
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: grey;
    padding-top: 60px;
    padding-bottom: 30px;
    width: 100%;
    text-align: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .header__list li {
    padding: 10px 0;
  }
  .header__list.active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .header__item {
    color: white;
  }
  .header__inner img {
    z-index: 20;
  }
}

@media (max-width: 425px) {
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__btn {
    display: none;
  }
  .footer {
    font-size: 8px;
  }
  .pallety__photo {
    display: none;
  }
  .title {
    font-size: 27px;
    line-height: 35px;
  }
}

@media (max-width: 320px) {
  .header__title {
    font-size: 24px;
  }
  .title {
    font-size: 19px;
  }
  .pallety__text {
    font-size: 13px;
  }
}
/*# sourceMappingURL=production.css.map */